body {
  background-color: purple;
  border: 4;
}

.layout {
  position: relative;
  width: 964px;
  height: 540px;
  background-image: url('../images/pohja.png');
}
.layout .layer {
  position: absolute;
  width: 964px;
  height: 540px;
}
